{{> head }}
 

{{> navbar }}
   <div class="row">
       <div class="col-8">
            <h1>Cave Story</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus numquam odit exercitationem rem eum eos! Exercitationem debitis perferendis sapiente odio at ipsum, harum qui consequuntur. Blanditiis reprehenderit minima nesciunt quam!</p>
       </div>
       <div class="col-4">
           <img src="assets/img/imagenprueba.jpg" class="img-thumbnail" alt="">
       </div>
   </div>
{{> footer }}